# Trabalho Final para aprovação do curso Sistemas Inteligentes

#### Instruções: 
- Comentem bastante o código, deixe o mais claro possível
- Usem e abusem do Markdown
- Isso ae!

# Pre-Processamento

#### Importação de bibliotecas

In [1]:
%matplotlib inline
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import *
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk 
import pandas as pd
from sklearn.model_selection import train_test_split as tts

In [2]:
%config InlineBackend.figure_format = 'svg'

params = {'figure.figsize': [5, 5],
          'axes.labelsize': 16,
          'axes.titlesize':18,
          'font.size': 16,
          'legend.fontsize': 10,
          'xtick.labelsize': 12,
          'ytick.labelsize': 12
    }

plt.rcParams.update(params)

##### Carregando dataset

In [3]:
#Dataset para treinamento
db = pd.read_csv("bank-additional-dataset/bank-additional-full.csv", sep= ";");
#Dataset para teste
db_test = pd.read_csv("bank-additional-dataset/bank-additional.csv", sep = ";");

##### Informações sobre o dataset

In [4]:
print("Dimensões do dataset", db.shape)
print("Dimensões do dataset_teste", db_test.shape)

Dimensões do dataset (41188, 21)
Dimensões do dataset_teste (4119, 21)

In [5]:
print("Features do dataset: ", db.columns)

Features do dataset:  Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

### bank client data:
    1 - age (numeric)
    2 - job : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
    3 - marital : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
    4 - education (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
    5 - default: has credit in default? (categorical: 'no','yes','unknown')
    6 - housing: has housing loan? (categorical: 'no','yes','unknown')
    7 - loan: has personal loan? (categorical: 'no','yes','unknown')
### related with the last contact of the current campaign:
    8 - contact: contact communication type (categorical: 'cellular','telephone') 
    9 - month: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
    10 - day_of_week: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
    11 - duration: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
### other attributes:
    12 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
    13 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
    14 - previous: number of contacts performed before this campaign and for this client (numeric)
    15 - poutcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')
### social and economic context attributes
    16 - emp.var.rate: employment variation rate - quarterly indicator (numeric)
    17 - cons.price.idx: consumer price index - monthly indicator (numeric) 
    18 - cons.conf.idx: consumer confidence index - monthly indicator (numeric) 
    19 - euribor3m: euribor 3 month rate - daily indicator (numeric)
    20 - nr.employed: number of employees - quarterly indicator (numeric)

### Output variable (desired target):
21 - y - has the client subscribed a term deposit? (binary: 'yes','no')

##### Como podemos observar há 11 features categóricas, é um número significante e teremos que tratá-los num futuro próximo

In [6]:
#tipos de dados para cada feature
db.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [7]:
# print the first 20 rows of data
print(db.head(20))

    age          job   marital            education  default housing loan  \
0    56    housemaid   married             basic.4y       no      no   no
1    57     services   married          high.school  unknown      no   no
2    37     services   married          high.school       no     yes   no
3    40       admin.   married             basic.6y       no      no   no
4    56     services   married          high.school       no      no  yes
5    45     services   married             basic.9y  unknown      no   no
6    59       admin.   married  professional.course       no      no   no
7    41  blue-collar   married              unknown  unknown      no   no
8    24   technician    single  professional.course       no     yes   no
9    25     services    single          high.school       no     yes   no
10   41  blue-collar   married              unknown  unknown      no   no
11   25     services    single          high.school       no     yes   no
12   29  blue-collar    single          high.school       no      no  yes
13   57    housemaid  divorced             basic.4y       no     yes   no
14   35  blue-collar   married             basic.6y       no     yes   no
15   54      retired   married             basic.9y  unknown     yes  yes
16   35  blue-collar   married             basic.6y       no     yes   no
17   46  blue-collar   married             basic.6y  unknown     yes  yes
18   50  blue-collar   married             basic.9y       no     yes  yes
19   39   management    single             basic.9y  unknown      no   no

      contact month day_of_week ...  campaign  pdays  previous     poutcome  \
0   telephone   may         mon ...         1    999         0  nonexistent
1   telephone   may         mon ...         1    999         0  nonexistent
2   telephone   may         mon ...         1    999         0  nonexistent
3   telephone   may         mon ...         1    999         0  nonexistent
4   telephone   may         mon ...         1    999         0  nonexistent
5   telephone   may         mon ...         1    999         0  nonexistent
6   telephone   may         mon ...         1    999         0  nonexistent
7   telephone   may         mon ...         1    999         0  nonexistent
8   telephone   may         mon ...         1    999         0  nonexistent
9   telephone   may         mon ...         1    999         0  nonexistent
10  telephone   may         mon ...         1    999         0  nonexistent
11  telephone   may         mon ...         1    999         0  nonexistent
12  telephone   may         mon ...         1    999         0  nonexistent
13  telephone   may         mon ...         1    999         0  nonexistent
14  telephone   may         mon ...         1    999         0  nonexistent
15  telephone   may         mon ...         1    999         0  nonexistent
16  telephone   may         mon ...         1    999         0  nonexistent
17  telephone   may         mon ...         1    999         0  nonexistent
18  telephone   may         mon ...         1    999         0  nonexistent
19  telephone   may         mon ...         1    999         0  nonexistent

   emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0           1.1          93.994          -36.4      4.857       5191.0  no
1           1.1          93.994          -36.4      4.857       5191.0  no
2           1.1          93.994          -36.4      4.857       5191.0  no
3           1.1          93.994          -36.4      4.857       5191.0  no
4           1.1          93.994          -36.4      4.857       5191.0  no
5           1.1          93.994          -36.4      4.857       5191.0  no
6           1.1          93.994          -36.4      4.857       5191.0  no
7           1.1          93.994          -36.4      4.857       5191.0  no
8           1.1          93.994          -36.4      4.857       5191.0  no
9           1.1          93.994          -36.4      4.857       5191.0  no
10          1.1          93.994          -36.4      4.857       5191.0  no
11          1.1          93.994          -36.4      4.857       5191.0  no
12          1.1          93.994          -36.4      4.857       5191.0  no
13          1.1          93.994          -36.4      4.857       5191.0  no
14          1.1          93.994          -36.4      4.857       5191.0  no
15          1.1          93.994          -36.4      4.857       5191.0  no
16          1.1          93.994          -36.4      4.857       5191.0  no
17          1.1          93.994          -36.4      4.857       5191.0  no
18          1.1          93.994          -36.4      4.857       5191.0  no
19          1.1          93.994          -36.4      4.857       5191.0  no

[20 rows x 21 columns]

In [8]:
db.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [11]:
# Contando número de valores nulos no dataset
db.isnull().sum(axis = 0)

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [34]:
#Visualizando valores unicos do dataset
print("Age: ",db.age.unique())
print()
print("Job: ",db.job.unique())
print()
print("Maritial: ",db.marital.unique())
print()
print("Education: ",db.education.unique())
print()
print("Default: ",db.default.unique())
print()
print("Housing: ",db.housing.unique())
print()
print("loan: ",db.loan.unique())
print()
print("Contact: ",db.contact.unique())
print()
print("Month : ",db.month.unique())
print()
print("Duration: ",db.duration.unique())
print()
print("Campaign: ",db.campaign.unique())
print()
print("Pdays: ",db.pdays.unique())
print()
print("previous: ",db.previous.unique())
print()
print("Poutcome: ",db.poutcome.unique())
print()
print("emp.var.rate: ",db.emp.var.rate.unique())
print()
print("emp.var.rate: ",db.emp.var.rate.unique())

Age:  [56 57 37 40 45 59 41 24 25 29 35 54 46 50 39 30 55 49 34 52 58 32 38 44
 42 60 53 47 51 48 33 31 43 36 28 27 26 22 23 20 21 61 19 18 70 66 76 67
 73 88 95 77 68 75 63 80 62 65 72 82 64 71 69 78 85 79 83 81 74 17 87 91
 86 98 94 84 92 89]

Job:  ['housemaid' 'services' 'admin.' 'blue-collar' 'technician' 'retired'
 'management' 'unemployed' 'self-employed' 'unknown' 'entrepreneur'
 'student']

Maritial:  ['married' 'single' 'divorced' 'unknown']

Education:  ['basic.4y' 'high.school' 'basic.6y' 'basic.9y' 'professional.course'
 'unknown' 'university.degree' 'illiterate']

Default:  ['no' 'unknown' 'yes']

Housing:  ['no' 'yes' 'unknown']

loan:  ['no' 'yes' 'unknown']

Contact:  ['telephone' 'cellular']

Month :  ['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'mar' 'apr' 'sep']

Duration:  [ 261  149  226 ... 1246 1556 1868]

Campaign:  [ 1  2  3  4  5  6  7  8  9 10 11 12 13 19 18 23 14 22 25 16 17 15 20 56
 39 35 42 28 26 27 32 21 24 29 31 30 41 37 40 33 34 43]

Pdays:  [999   6   4   3   5   1   0  10   7   8   9  11   2  12  13  14  15  16
  21  17  18  22  25  26  19  27  20]

previous:  [0 1 2 3 4 5 6 7]

Poutcome:  ['nonexistent' 'failure' 'success']

AttributeError: 'DataFrame' object has no attribute 'emp'

# Validação dos dados

# Treinamento do modelo

# Resultados e Metricas

# Discussões