# Trabalho Final para aprovação do curso Sistemas Inteligentes

#### Instruções: 
- Comentem bastante o código, deixe o mais claro possível
- Usem e abusem do Markdown
- Isso ae!

# Pre-Processamento

#### Importação de bibliotecas

In [15]:
%matplotlib inline
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import *
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk 
import pandas as pd
from sklearn.model_selection import train_test_split as tts

In [16]:
%config InlineBackend.figure_format = 'svg'

params = {'figure.figsize': [5, 5],
          'axes.labelsize': 16,
          'axes.titlesize':18,
          'font.size': 16,
          'legend.fontsize': 10,
          'xtick.labelsize': 12,
          'ytick.labelsize': 12
    }

plt.rcParams.update(params)

##### Carregando dataset

In [46]:
#Dataset para treinamento
db = pd.read_csv("bank-additional-dataset/bank-additional-full.csv", sep= ";");
#Dataset para teste
db_teste = pd.read_csv("bank-additional-dataset/bank-additional.csv", sep = ";");

##### Informações sobre o dataset

In [47]:
print("Dimensões do dataset", db.shape)
print("Dimensões do dataset_teste", db_treino.shape)

Dimensões do dataset (41188, 21)
Dimensões do dataset_teste (4119, 21)

In [45]:
print("Features do dataset: ", db.columns)

Features do dataset:  Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

### bank client data:
    1 - age (numeric)
    2 - job : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
    3 - marital : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
    4 - education (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
    5 - default: has credit in default? (categorical: 'no','yes','unknown')
    6 - housing: has housing loan? (categorical: 'no','yes','unknown')
    7 - loan: has personal loan? (categorical: 'no','yes','unknown')
### related with the last contact of the current campaign:
    8 - contact: contact communication type (categorical: 'cellular','telephone') 
    9 - month: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
    10 - day_of_week: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
    11 - duration: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
### other attributes:
    12 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
    13 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
    14 - previous: number of contacts performed before this campaign and for this client (numeric)
    15 - poutcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')
### social and economic context attributes
    16 - emp.var.rate: employment variation rate - quarterly indicator (numeric)
    17 - cons.price.idx: consumer price index - monthly indicator (numeric) 
    18 - cons.conf.idx: consumer confidence index - monthly indicator (numeric) 
    19 - euribor3m: euribor 3 month rate - daily indicator (numeric)
    20 - nr.employed: number of employees - quarterly indicator (numeric)

### Output variable (desired target):
21 - y - has the client subscribed a term deposit? (binary: 'yes','no')

##### Como podemos observar há 11 features categóricas, é um número significante e teremos que tratá-los num futuro próximo

In [50]:
#tipos de dados para cada feature
db.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [63]:
# print the first 20 rows of data
print(db.head(20))

    age          job   marital            education  default housing loan  \
0    56    housemaid   married             basic.4y       no      no   no
1    57     services   married          high.school  unknown      no   no
2    37     services   married          high.school       no     yes   no
3    40       admin.   married             basic.6y       no      no   no
4    56     services   married          high.school       no      no  yes
5    45     services   married             basic.9y  unknown      no   no
6    59       admin.   married  professional.course       no      no   no
7    41  blue-collar   married              unknown  unknown      no   no
8    24   technician    single  professional.course       no     yes   no
9    25     services    single          high.school       no     yes   no
10   41  blue-collar   married              unknown  unknown      no   no
11   25     services    single          high.school       no     yes   no
12   29  blue-collar    single          high.school       no      no  yes
13   57    housemaid  divorced             basic.4y       no     yes   no
14   35  blue-collar   married             basic.6y       no     yes   no
15   54      retired   married             basic.9y  unknown     yes  yes
16   35  blue-collar   married             basic.6y       no     yes   no
17   46  blue-collar   married             basic.6y  unknown     yes  yes
18   50  blue-collar   married             basic.9y       no     yes  yes
19   39   management    single             basic.9y  unknown      no   no

      contact month day_of_week ...  campaign  pdays  previous     poutcome  \
0   telephone   may         mon ...         1  999.0       NaN  nonexistent
1   telephone   may         mon ...         1  999.0       NaN  nonexistent
2   telephone   may         mon ...         1  999.0       NaN  nonexistent
3   telephone   may         mon ...         1  999.0       NaN  nonexistent
4   telephone   may         mon ...         1  999.0       NaN  nonexistent
5   telephone   may         mon ...         1  999.0       NaN  nonexistent
6   telephone   may         mon ...         1  999.0       NaN  nonexistent
7   telephone   may         mon ...         1  999.0       NaN  nonexistent
8   telephone   may         mon ...         1  999.0       NaN  nonexistent
9   telephone   may         mon ...         1  999.0       NaN  nonexistent
10  telephone   may         mon ...         1  999.0       NaN  nonexistent
11  telephone   may         mon ...         1  999.0       NaN  nonexistent
12  telephone   may         mon ...         1  999.0       NaN  nonexistent
13  telephone   may         mon ...         1  999.0       NaN  nonexistent
14  telephone   may         mon ...         1  999.0       NaN  nonexistent
15  telephone   may         mon ...         1  999.0       NaN  nonexistent
16  telephone   may         mon ...         1  999.0       NaN  nonexistent
17  telephone   may         mon ...         1  999.0       NaN  nonexistent
18  telephone   may         mon ...         1  999.0       NaN  nonexistent
19  telephone   may         mon ...         1  999.0       NaN  nonexistent

   emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0           1.1          93.994          -36.4      4.857       5191.0  no
1           1.1          93.994          -36.4      4.857       5191.0  no
2           1.1          93.994          -36.4      4.857       5191.0  no
3           1.1          93.994          -36.4      4.857       5191.0  no
4           1.1          93.994          -36.4      4.857       5191.0  no
5           1.1          93.994          -36.4      4.857       5191.0  no
6           1.1          93.994          -36.4      4.857       5191.0  no
7           1.1          93.994          -36.4      4.857       5191.0  no
8           1.1          93.994          -36.4      4.857       5191.0  no
9           1.1          93.994          -36.4      4.857       5191.0  no
10          1.1          93.994          -36.4      4.857       5191.0  no
11          1.1          93.994          -36.4      4.857       5191.0  no
12          1.1          93.994          -36.4      4.857       5191.0  no
13          1.1          93.994          -36.4      4.857       5191.0  no
14          1.1          93.994          -36.4      4.857       5191.0  no
15          1.1          93.994          -36.4      4.857       5191.0  no
16          1.1          93.994          -36.4      4.857       5191.0  no
17          1.1          93.994          -36.4      4.857       5191.0  no
18          1.1          93.994          -36.4      4.857       5191.0  no
19          1.1          93.994          -36.4      4.857       5191.0  no

[20 rows x 21 columns]

# Validação dos dados

# Treinamento do modelo

# Resultados e Metricas

# Discussões